/* =====  1.  default styles (mobile first) =====  */


/*this removes default styling from for eample lists etc*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.disclaimer {
    position: sticky;
    background-color: red;
    color: white;
}

/*header*/

.headerItems {
    position: absolute;
    background: rgb(255, 255, 255);
    left: 10%;
    top: 30%;
    list-style: none;
    padding-right: 30px;
}

.headerImage {
    position: relative;
    width: 100%;
    background-size: contain;
    background-position: center right;
    max-height: 100vh;
    overflow: hidden;
}

.government {
    text-align: center;
}

/*navigation*/

.navbar {
    padding: 2%;
    background-color: rgb(19, 19, 226);
    color: white;
}


/*main content*/

main {
    background: lightgrey;
}

section {
    background: white;
    padding: 2%;
    margin: 3%;
    padding: 0.5%;
}

/*===1a. GRID-FLEX===*/

#grid-flex,
#flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#grid-flex #flex2 .flex-item {
    margin-bottom: 14px;
    display: block;
    width: 100%;
    overflow: hidden;
}

#grid-flex .flex-item {
    list-style: none;
    width: 100%;
    margin: 0.5%;
    padding: 0.5%;
    overflow: hidden;
}

.headerImage img {
    width: 100%;
}

.flex-image {
    display: grid;
    float: left;
    width: 90%;
    list-style: none;
    overflow: hidden;
}

/*p {
    width: auto;
    height: auto;
    color: black;
}*/

ul {
    list-style: none;
}


/* ===== 2. TABLET SETTINGS ===== */
@media screen and (min-width: 768px) {
    #grid-flex .flex-item {
        width: 45%;
    }
    #flex2 .flex-item{
      width: 50%;
    }
    
    .flex-image {
        /* list-style: none;*/
        display: flex;
        flex-wrap: nowrap;
    }
}

/* ===== 3. Screen SETTINGS ===== */
@media screen and (min-width: 1080px) {
 #grid-flex .flex-item {
        width: 30%;
    }
    #flex2 .flex-item{
      width: 33%;
    }
}

/* ===== 2. TABLET SETTINGS ===== */

/*@media screen and (min-width:480px) (max-width: 1079px) {
    main {
       
        padding: 0.5%;
        font-size: 1.2em;
        background-color: grey;
    }
    
    .flex-item {
        width: 45%;
        list-style: none;
        margin: 0.5%;
        padding: 0.5%;
        overflow: hidden;
    }
    
    p {
        width: auto;
        height: auto;
        color: black;
    }
    
    ul {
        list-style: none;
    }
    
    .flex-image {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        width: 30%;
    }
}*/

/* ===== 3. Screen SETTINGS ===== */
/*@media screen and (min-width:1080px) {
     main {
        display: flex;
        padding: 0.5%;
        font-size: 1.2em;
        background-color: grey;
    }
    
    .flex-item {
        width: auto;
         list-style: none;
        margin: 0.5%;
        padding: 0.5%;
        overflow: hidden;
    }
    p {
        width: auto;
        height: auto;
        color: black;
    }
    ul {
        list-style: none;
    }
    .flex-image {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        width: 30%;
    }
}
*/